*.lo
*.o
*.la
*.in
*.db
.deps
.libs
Makefile
/*~
/aclocal.m4
/autom4te.cache
/autoscan.log
/compile
/config.guess
/config.h
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/test/base/test-base
/test/gui/test-gui-button
/test/gui/test-gui-button-sdl.sh
/test/gui/test-gui-button-xlib.sh
/test/gui/test-gui-dirty
/test/gui/test-gui-dirty-sdl.sh
/test/gui/test-gui-dirty-xlib.sh
/test/gui/test-gui-event
/test/gui/test-gui-event-sdl.sh
/test/gui/test-gui-event-xlib.sh
/test/gui/test-gui-pdfview
/test/gui/test-gui-pdfview-sdl.sh
/test/gui/test-gui-pdfview-xlib.sh
/test/gui/test-gui-resmgr
/test/gui/test-gui-resmgr-sdl.sh
/test/gui/test-gui-resmgr-xlib.sh
/test/gui/test-gui-timer
/test/gui/test-gui-timer-sdl.sh
/test/gui/test-gui-timer-xlib.sh
/win32/catchdoc.ncb
/win32/catchdoc.suo
/win32/bin
/win32/base/Debug
/win32/base/Release
/win32/gui/Debug
/win32/gui/Release
/win32/test-base/Debug
/win32/test-base/Release
/win32/test-gui-button/Debug
/win32/test-gui-button/Release
/win32/test-gui-dirty/Debug
/win32/test-gui-dirty/Release
/win32/test-gui-event/Debug
/win32/test-gui-event/Release
/win32/test-gui-pdfview/Debug
/win32/test-gui-pdfview/Release
/win32/test-gui-resmgr/Debug
/win32/test-gui-resmgr/Release
/win32/test-gui-timer/Debug
/win32/test-gui-timer/Release
/win32/win32-backend/Debug
/win32/win32-backend/Release